.order-button{
  width: 8vw;

  height: 3vw;

  background-color: rgba(255,0,0,0.6);
  margin-top:30vh;
  border-width:0;
  color:'white';
  font-size:2vh;

}


.Navbar{
  background-color: rgba(255,255,255,0.7);
  border-width: 0;
  align-content: center;
  visibility: initial;
} 


.App {
  text-align: center;
  overflow: auto;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@font-face {
  font-family: 'Montserrat', cursive;
  src: url('https://fonts.googleapis.com/css?family=Montserrat')
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media only screen and (max-width: 800px){
  .Navbar{
      display: none;
  }
  .BurgerMenu{
    visibility: visible;
  }
}