.order-button{
  width: 8vw;
  min-width: 100px;
  height: 3vw;
  min-height: 60px;

  background-color: rgba(255,0,0,0.6);

  position: absolute;
  
  
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
  border-width:0;
  color:'white';
  font-size:15px;
  color: white;
  

}

.logo{
  position: absolute;
  
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);

  width: 8vw;
  min-width: 100px;
  height: 8vw; 
  min-height: 100px;
  


}

.Navbar{
  background-color: rgba(255,255,255,0.7);
  border-width: 0;
  align-content: center;
  visibility: initial;
} 


.App {
  display: 'flex';
  text-align: center;
  overflow: auto;
  flex-direction: column;
  height:90vh;
  min-height: 500px;
  align-items: center;
  position: relative;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@font-face {
  font-family: 'Montserrat', cursive;
  src: url('https://fonts.googleapis.com/css?family=Montserrat')
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media only screen and (max-width: 800px){
  .Navbar{
      display: none;
  }
  .BurgerMenu{
    visibility: visible;
  }
}