.Item-container{
    display: flex;
    
  
    height: 250px;
    width:20%;
    min-width: 300px;
    max-width: 500px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  

}
.Item-name{
    font-family: iCiel-Altus;
    color:white;
    font-size: 50px;
    height: 60px;
}
.Item-price{
    font-family:iCielNovecentosans-Light ;
    color:white;
    font-size: 25px;
}
.button_add_to_cart{
  
    position: absolute;
    top:0;
    right: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
.button_add_to_cart button{

        width: 100%;
        height: 100%;
      padding: 0;
      visibility: hidden;
  }
  
  .button_add_to_cart button img{
    
        width: 100%;
        height: 100%;
      padding: 0;
  }

  .button_quantity{
    display: flex;
 
    width: 40px;
    height: 40px; 
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 50%;


  }
  .button_quantity img{
   
    width:100%;
    height: 100%; 
   
  }

.quantity{
    display: flex;
    width: 25%;
    height: 40px;
    border-radius:20px;
    background: white;
    
    justify-content: center;
    align-items: center;
    font-family: iCielNovecentosans-Medium;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


.Background{
 
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    height: 100%;
    width: 100%;

}

@media only screen and (max-width: 450px){
    .Item-container{
        float: none;
        min-width: 100px;
        width: 80%;
    }
}